<h4 style='align-self: center; font-weight: bold'> Last Month </h4>
<% from = DateTime.current.prev_month.beginning_of_month %>
<% to = DateTime.current.prev_month.end_of_month %>
<table>
  <tr>
    <th> Vendor </th>
    <th> Qty </th>
    <th> Sold </th>
    <th> Paid </th>
    <th> Balance </th>
  </tr>
  <% Vendor.all.each do |vendor| %>
    <% sales = vendor.sales.where(date: from..to) %>
    <% payments = vendor.payments.where(date: from..to) %>
    <tr>
      <th style='font-weight: normal'> <%= vendor.name %> </b> </th>
      <th style='font-weight: normal'> <%= sales.sum(:quantity) %> </th>
      <th style='font-weight: normal'> ₹<%= sales.sum(:amount) %> </th>
      <th style='font-weight: normal'> ₹<%= payments.sum(:amount) %> </th>
      <th style='font-weight: normal'> ₹<%= sales.sum(:amount) - payments.sum(:amount) %> </th>
    </tr>
  <% end %>
</table>
<style>
  th, td {
    border: 1px;
    border-style: dashed;
  }
</style>
