<h4> Last month </h4>
<% from = DateTime.current.prev_month.beginning_of_month %>
<% to = DateTime.current.prev_month.end_of_month %>
<table>
  <tr>
    <th> Vendor </th>
    <th> Qty </th>
    <th> Sold </th>
    <th> Paid </th>
    <th> Balance </th>
  </tr>
  <% Vendor.all.each do |vendor| %>
    <% sales = vendor.sales.where(date: from..to) %>
    <% payments = vendor.payments.where(date: from..to) %>
    <tr class='data'>
      <th> <a href="<%= resources_vendor_path(vendor) %>" target="_top"><%= vendor.name %></a> </th>
      <th> <%= sales.sum(:quantity) %> </th>
      <th> ₹<%= sales.sum(:amount) %> </th>
      <th> ₹<%= payments.sum(:amount) %> </th>
      <th> ₹<%= sales.sum(:amount) - payments.sum(:amount) %> </th>
    </tr>
  <% end %>
</table>
<style>
  h4 {
    align-self: center;
    font-weight: bold
  }
  th {
    border: 1px;
    border-style: dashed;
  }
  tr.data th {
    font-weight: normal;
  }
</style>
