<h4> Overall </h4>
<% from = Time.at(0) %>
<% to = DateTime.current.end_of_month %>
<table>
  <tr>
    <th> Vendor </th>
    <th> Qty </th>
    <th> Sold </th>
    <th> Paid </th>
    <th> Balance </th>
  </tr>
  <% Vendor.all.each do |vendor| %>
    <% sales = vendor.sales.where(date: from..to) %>
    <% payments = vendor.payments.where(date: from..to) %>
    <tr class='data'>
      <th> <a href="<%= resources_vendor_path(vendor) %>" target="_top"><%= vendor.name %></a> </th>
      <th> <%= sales.sum(:quantity) %> </th>
      <th> ₹<%= sales.sum(:amount) %> </th>
      <th> ₹<%= payments.sum(:amount) %> </th>
      <th> ₹<%= sales.sum(:amount) - payments.sum(:amount) %> </th>
    </tr>
  <% end %>
</table>
