<h4> This month </h4>
<% from = DateTime.current.beginning_of_month %>
<% to = DateTime.current.end_of_month %>
<table>
  <tr>
    <th> Vendor </th>
    <th> Qty </th>
    <th> Sold </th>
    <th> Paid </th>
    <th> Balance </th>
  </tr>
  <% Vendor.all.each do |vendor| %>
    <% sales = vendor.sales.where(date: from..to) %>
    <% payments = vendor.payments.where(date: from..to) %>
    <% balance = sales.sum(:amount) - payments.sum(:amount) %>
    <tr class='data'>
      <th> <a href="<%= resources_vendor_path(vendor) %>" target="_top"><%= vendor.name %></a> </th>
      <th> <%= sales.sum(:quantity) %> </th>
      <th> ₹<%= sales.sum(:amount) %> </th>
      <th> ₹<%= payments.sum(:amount) %> </th>
      <th> <%= (balance > 0 && "🟢") || (balance < 0 && "🔴") || "" %>₹<%= balance %> </th>
    </tr>
  <% end %>
</table>
